{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "quoteProps": "as-needed",
    "arrowParens": "always",
    "endOfLine": "lf",
    "pugPrintWidth": 150,
    "pugClosingBracketPosition": "last-line"
}
